
.idea/vcs.xml
.idea/workspace.xml
cmake-build-debug/ALGO
cmake-build-debug/ALGO.cbp
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.13.2/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.13.2/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.13.2/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.13.2/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.13.2/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.13.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/ALGO.dir/build.make
cmake-build-debug/CMakeFiles/ALGO.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/ALGO.dir/CXX.includecache
cmake-build-debug/CMakeFiles/ALGO.dir/depend.internal
cmake-build-debug/CMakeFiles/ALGO.dir/depend.make
cmake-build-debug/CMakeFiles/ALGO.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/ALGO.dir/flags.make
cmake-build-debug/CMakeFiles/ALGO.dir/link.txt
cmake-build-debug/CMakeFiles/ALGO.dir/main.cpp.o
cmake-build-debug/CMakeFiles/ALGO.dir/progress.make
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/feature_tests.bin
cmake-build-debug/CMakeFiles/feature_tests.c
cmake-build-debug/CMakeFiles/feature_tests.cxx
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/Makefile
bin/.vs/ALGO/v15/Browse.VC.db
bin/.vs/ALGO/v15/Browse.VC.opendb
bin/.vs/ALGO/v15/Solution.VC.db
bin/.vs/ALGO/v15/Solution.VC.db-shm
bin/.vs/ALGO/v15/Solution.VC.db-wal
bin/ALGO.sln
bin/ALGO.vcxproj
bin/ALGO.vcxproj.filters
bin/ALL_BUILD.vcxproj
bin/ALL_BUILD.vcxproj.filters
bin/cmake_install.cmake
bin/CMakeCache.txt
bin/CMakeFiles/3.14.0/CMakeCCompiler.cmake
bin/CMakeFiles/3.14.0/CMakeCXXCompiler.cmake
bin/CMakeFiles/3.14.0/CMakeDetermineCompilerABI_C.bin
bin/CMakeFiles/3.14.0/CMakeDetermineCompilerABI_CXX.bin
bin/CMakeFiles/3.14.0/CMakeRCCompiler.cmake
bin/CMakeFiles/3.14.0/CMakeSystem.cmake
bin/CMakeFiles/3.14.0/CompilerIdC/CMakeCCompilerId.c
bin/CMakeFiles/3.14.0/CompilerIdC/CompilerIdC.exe
bin/CMakeFiles/3.14.0/CompilerIdC/CompilerIdC.vcxproj
bin/CMakeFiles/3.14.0/CompilerIdC/Debug/CMakeCCompilerId.obj
bin/CMakeFiles/3.14.0/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
bin/CMakeFiles/3.14.0/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
bin/CMakeFiles/3.14.0/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
bin/CMakeFiles/3.14.0/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
bin/CMakeFiles/3.14.0/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
bin/CMakeFiles/3.14.0/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
bin/CMakeFiles/3.14.0/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
bin/CMakeFiles/3.14.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
bin/CMakeFiles/3.14.0/CompilerIdCXX/CompilerIdCXX.exe
bin/CMakeFiles/3.14.0/CompilerIdCXX/CompilerIdCXX.vcxproj
bin/CMakeFiles/3.14.0/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
bin/CMakeFiles/3.14.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
bin/CMakeFiles/3.14.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
bin/CMakeFiles/3.14.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
bin/CMakeFiles/3.14.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
bin/CMakeFiles/3.14.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
bin/CMakeFiles/3.14.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
bin/CMakeFiles/3.14.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
bin/CMakeFiles/3.14.0/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
bin/CMakeFiles/3.14.0/VCTargetsPath.txt
bin/CMakeFiles/3.14.0/VCTargetsPath.vcxproj
bin/CMakeFiles/5698d94bb64a85c898dfc8f4cd761e81/generate.stamp.rule
bin/CMakeFiles/cmake.check_cache
bin/CMakeFiles/CMakeOutput.log
bin/CMakeFiles/feature_tests.bin
bin/CMakeFiles/feature_tests.c
bin/CMakeFiles/feature_tests.cxx
bin/CMakeFiles/generate.stamp
bin/CMakeFiles/generate.stamp.depend
bin/CMakeFiles/generate.stamp.list
bin/CMakeFiles/TargetDirectories.txt
bin/ZERO_CHECK.vcxproj
bin/ZERO_CHECK.vcxproj.filters
bin/.vs/ALGO/v15/.suo
bin/.vs/ALGO/v15/ipch/AutoPCH/ae3b88a8d0a8732f/MAIN.ipch
bin/ALGO.dir/Debug/ALGO.log
bin/ALGO.dir/Debug/ALGO.tlog/ALGO.lastbuildstate
bin/ALGO.dir/Debug/ALGO.tlog/CL.command.1.tlog
bin/ALGO.dir/Debug/ALGO.tlog/CL.read.1.tlog
bin/ALGO.dir/Debug/ALGO.tlog/CL.write.1.tlog
bin/ALGO.dir/Debug/ALGO.tlog/custombuild.command.1.tlog
bin/ALGO.dir/Debug/ALGO.tlog/custombuild.read.1.tlog
bin/ALGO.dir/Debug/ALGO.tlog/custombuild.write.1.tlog
bin/ALGO.dir/Debug/ALGO.tlog/link.command.1.tlog
bin/ALGO.dir/Debug/ALGO.tlog/link.read.1.tlog
bin/ALGO.dir/Debug/ALGO.tlog/link.write.1.tlog
bin/ALGO.dir/Debug/main.obj
bin/ALGO.dir/Debug/vc141.pdb
bin/ALGO.vcxproj.user
bin/ALL_BUILD.vcxproj.user
bin/Debug/ALGO.exe
bin/Debug/ALGO.ilk
bin/Debug/ALGO.pdb
